.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.Charts {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.Charts > div {
  box-sizing: border-box;
  margin-bottom: 50px;
}

